@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue: #3151df;
  --color-blue-light: #abc3ff;
  --color-blue-light-dimmed: #e4ecff;

  --color-violet-dark: #4e50c0;
  --color-violet-light: #9597ff;

  --font-color-light: #f5f5f5;
  --font-color-dark: #222222;

  --base-color-light: #fafaff;
  --base-color-light-dimmed: #f6f6ff;

  --hover-element-color: #ffffff40;
  --spotlight-element-color: #ffffff1f;
  --active-element-color-dark: #2e2e2e3a;

  --light-50: #ffffff80;
  --light-70: #ffffffb3;

  --font-be-vi: "Be Vietnam Pro";
}

body {
  background-color: #121212;
  color: white;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-container {
	flex: 1;
}

.btn-icon {
  padding: .125rem;
  width: 24px;
  background-color: royalblue;
  color: white;
  outline: none;
  border: none;
  border-radius: .125rem;

  &.btn-dange {
  background-color: crimson;
  }
}


